@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,100;1,200;1,300;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 100px;
}
/* board desigining */
.board {
  width: 600px;
  height: 600px;

  margin: 40px 0 0 200px;
}
.row {
  display: flex;
  flex-direction: row;
}
.spwanbox {
  height: 240px;
  width: 240px;
  background-color: brown;

  border: 1px solid #8d8b8b;
}
.winbox {
  /* height: 120px;
  width: 120px;
  background-color: blue;
  border: 1px solid #000; */
  height: 0;
  width: 0;
  border-left: 60px solid yellow;
  border-top: 60px solid green;
  border-right: 60px solid red;
  border-bottom: 60px solid blue;
}
.pathbox {
  height: 120px;
  width: 240px;

  display: flex;
  flex-wrap: wrap;
}

.pathboxx {
  height: 240px;
  width: 120px;

  display: flex;
  flex-wrap: wrap;
}
.innerbox {
  width: 160px;
  height: 160px;
  margin: 40px;
  background-color: #fff;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  padding: 20px;
}
.circles {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  border: 1px solid #000;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
}
.sb1 {
  background-color: yellow;
  color: rgb(177, 177, 2);
}
.sb2 {
  background-color: green;
  color: rgb(126, 245, 126);
}
.sb3 {
  background-color: red;
  color: rgb(150, 19, 19);
}
.sb4 {
  background-color: blue;
  color: rgb(0, 0, 145);
}

.div {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.dice {
  height: 200px;
  width: 200px;
}
.dicedisplay {
  height: 150px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 900;
  border: 1px solid gold;
}
button {
  width: 200px;
  height: 50px;
  border: 2px solid gold;
  font-size: 20px;
  font-weight: 800;
  background-color: #fff;
  cursor: pointer;
}
